<aside id="left-sidebar-nav">
		
	
	<!-- side menu -->
	<ul id="slide-out" class="side-nav fixed leftside-navigation grey lighten-3 z-depth-2">
		<li class="user-view">
				
				 <div class="row">
                    <div class="col col s4 m4 l4">
                        <img src="assets/img/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                    </div>
                    <div class="col col s8 m8 l8">
                        <ul id="profile-dropdown" class="dropdown-content">
                            <li> <a href="profile.html"> Profile</a> </li>
                            <li> <a href="#"> Logout</a> </li>
                        </ul>
                        <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">{{teacher.name}}<i class="mdi-navigation-arrow-drop-down right"></i></a>
                        <p class="user-roal">Teacher</p>
                    </div>
                </div>
			
		</li>
		<li class="active"><a class="collapsible-header waves-effect waves-cyan" href="teacher_quiz"><i class="mdi-action-help"></i>Quiz Store</a></li>
			
		<li><a class="collapsible-header waves-effect waves-cyan" href="teacher_sim"><i class="mdi-editor-insert-chart"></i>Simulation Store</a></li>
					
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				
			<li class="bold"><a class="subhader"><i>More	</i></a></li>
		
			
			<li class="active"><a class="collapsible-header waves-effect waves-cyan" href="help.html"><i class="mdi-action-help"></i>Help</a></li>
			<li class="active"><a class="collapsible-header waves-effect waves-cyan" href="about.html"><i class="mdi-action-info"></i>About</a></li>
			
		
			</ul>
		</li>
	</ul>

	<a href="#" data-activates="slide-out" class="button-collapse"></a>	
	<!-- side menu end -->
	</aside>
